.padding-5{
	padding: 5px;
}
.float-left{
	float: left;
}
.card .card-body .margin-left-10{
	margin-left: 10px;
}
.card .card-body .width-40{
	width: 40%;
}
.card .card-body .float-right{
	float: right;
}
.card .card-body .margin-bottom{
	margin-bottom: 0px;
}